*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter {
  width: 1000px;
  /* height: 58vh; */
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgb(247, 231, 249) 100%
  );
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0px 0px;
  overflow: hidden;
  text-align: left;
}

th {
  padding: 10px 15px;
  background: #ebc5d5;
  text-transform: uppercase;
  cursor: pointer;
  color: #eb0808;
  font-weight: bold;
  font-family: "monospace";
  text-shadow: rgb(200, 33, 172) 1px 0 10px;
  font-size: 22px;
  /* padding-right: 20px; чтобы текст не налезал на стрелку */
}
th.active {
  background-color: #b6d4e5;
}

.arrow {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #fff;
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.3s ease 0s;
}
.arrow.asc {
  transform: rotate(180deg);
}
.arrow.desc {
  transform: rotate(0deg);
}
tbody tr:nth-child(odd) {
  background: linear-gradient(90deg, #f3e2e8 10%, #ffe3e3 90%);
}

tbody tr:nth-child(even) {
  background-color: #ebc5d5;
}

td {
  padding: 8px 20px;
  border: none;
  text-shadow: rgb(181, 179, 177) 1px 0 10px;
}
.room-cell {
  color: #d81b60;
  font-weight: 900;
  border-radius: 3px;
  width: 50%;
  font-size: 18px;
  letter-spacing: 0.6px;
  text-transform: none;
  font-family: monospace;
  transition: all 0.23s cubic-bezier(0.3, 1.4, 0.3, 1);
  cursor: pointer;
}
td:hover {
  background: #f4e6f7;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
